*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
}

#imagem-fundo{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image:url(../img/imaginha.jpg);
    background-size: cover;
    background-repeat:no-repeat ;
    position: relative;
    top: -40px;
}

#titulo-inicio{
    font-size: 50px;
    text-align: center;
    padding-top: 76px;
}

#inicio-quiz{
    margin: 150px;
    margin-top: 500px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
}

.numero-pagina{
    padding-left: 32px;
    padding-top: 25px;
    padding-right: 29px;
}

.titulo{
    font-size: 29px;
    position: relative;
    top: -20px;
}
.area-titulo{
    padding-right: 29px;
    padding-top: 40px;
}

.area-titulo, .numero-pagina{
   display: inline-flex;
}
